/* Reset */
body,
h1,h2,h3,h4,h5,h6,
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img,
em,dfn,del,ins,
a,
tbody,tfoot,thead,tr,
li,
label,legend,
figure,figcaption {
  margin: 0;
  padding: 0;
}

/* Reset HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Enable responsive images */
img {
  max-width: 100%;
}

/* Accessibility helpers */
.offscreen {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}
.element-hidden {
  display: none;
}
